.nav{
  display: flex;
  justify-content:safe;
  background-color: aliceblue;

}
.allSearchnone{
  display: none;
}
#display{
  margin-left: 30px;
}
#inputSearch{
  margin-left: 30px;
}
#selectePisodes{
  height: 40px;
}
#root {
  padding-top: 10px;
  /* background-color: rgb(250, 250, 250); */
  display: grid;
  gap:12px;
  grid-template-columns: auto auto auto;
}
#contenar{
  background-color: rgb(250, 250, 250);
padding: 50px;
  border: 1px black solid;
  width: 300px;
  font-style:oblique;
}
#header-episode{
  text-align: center;
  padding-top: 30px;
  border: 1px black solid; 
  width: 230px;
  height: 50px;
  border-radius:8px;
font-size: 18px;
font-style: normal;
font-weight: bold;
}
